@use 'sass:map';
@import '~@angular/material/theming';

$dark-primary-text: rgba(black, .87);
$dark-secondary-text: rgba(black, .54);
$dark-disabled-text: rgba(black, .38);
$light-primary-text: white;
$light-secondary-text: rgba(white, .6);
$light-disabled-text: rgba(white, .38);

$fb-panel-width: 528px;

$primary-color: (
  50: #fff,
  100: #f7f7f7,
  200: #dedede,
  300: #c3c3c3,
  400: #aaa,
  500: #8b8b8b,
  600: #717171,
  700: #575757,
  800: #3d3d3d,
  900: #303030,
  A100: #f7f7f7,
  A200: #dedede,
  A400: #aaa,
  A700: #575757,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Also known as the secondary color
$accent-color: (
  50: #84f5fd,
  100: #6af3fd,
  200: #50f2fd,
  300: #32edfa,
  400: #25dce9,
  500: #1dc8d4,
  600: #16b6c0,
  700: #009ca6,
  800: #008891,
  900: #007279,
  A100: #6af3fd,
  A200: #50f2fd,
  A400: #25dce9,
  A700: #009ca6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

$mat-red:         map.merge($mat-red, ('700': #ea4335));
$mat-green:       map.merge($mat-green, ('700': #34a853));
$mat-light-green: map.merge($mat-light-green, ('700': #2ed47a));
$mat-yellow:      map.merge($mat-yellow, ('700': #ffb800));
$mat-light-theme-foreground:  map.merge($mat-light-theme-foreground, (slider-off: #dedede, slider-off-active: #dedede));

$app-primary:     mat-palette($primary-color);
$app-accent:      mat-palette($accent-color, A700, A600, A900);
$app-warn:        mat-palette($mat-red);
$app-theme:       mat-light-theme($app-primary, $app-accent, $app-warn);

$fb-base-gap-width: .25rem;

$assetm-filter-panel-label-width: 35%;
$assetm-filter-panel-label-margin-right: $fb-base-gap-width * 4.8;
$assetm-filter-panel-control-width: 60%;

$assetm-filter-temperature-content-width: 60%;
$assetm-filter-temperature-form-width: 20%;

$font-color-focused: rgba(0, 0, 0, .87);
$font-color-unfocused: rgba(0, 0, 0, .60);
$font-color-inactive: rgba(0, 0, 0, .38);

$icon-color-focused: rgba(0, 0, 0, .87);
$icon-color-unfocused: rgba(0, 0, 0, .54);
$icon-color-inactive: rgba(0, 0, 0, .38);

$linkable-color: #1a73e8;

$breeder-card-active-color: #239764;
$breeder-card-header-active-color: #e5f5f6;
$breeder-card-label-color-grey: #8a8c8e;
$breeder-border-color: #dcdcdc;
