<div class="thermometer-wrap">
  <svg height="400" width="450" style="left: 10px; top:10px;">
    <path d="M 0 0 q 50 100 190 190" stroke="blue"
          stroke-width="5" fill="none"/>
  </svg>

  <svg height="400" width="450" style="left: 100px; top:50px;">
    <path d="M 0 0 q 50 100 100 150" stroke="blue"
          stroke-width="5" fill="none"/>
  </svg>


  <div style="left: 200px; top:200px;" class="c_1">111</div>
  <div style="left: 10px; top:10px;" class="c_2">222</div>
  <div style="left: 100px; top:50px;" class="c_2">333</div>

</div>
