<div class="thermometer-wrap" #sliderThumb>

  <div class="slider-container q1"
       #q1
       cdkDrag
       cdkDragLockAxis="y"
       (cdkDragMoved)="onDragMovedQ1($event)"
       (cdkDragEnded)="cdkDragEndedQ1($event)"
       [cdkDragBoundary]="sliderThumb">
    <div class="slider-thumb"></div>
  </div>

  <div class="slider-container q2"
       #q2
       cdkDrag
       cdkDragLockAxis="y"
       (cdkDragMoved)="onDragMovedQ2($event)"
       (cdkDragEnded)="cdkDragEndedQ2($event)"
       [cdkDragBoundary]="sliderThumb">
    <div class="slider-thumb"></div>
  </div>

  <div class="slider-container q3"
       #q3
       cdkDrag
       cdkDragLockAxis="y"
       (cdkDragMoved)="onDragMovedQ3($event)"
       (cdkDragEnded)="cdkDragEndedQ3($event)"
       [cdkDragBoundary]="sliderThumb">
    <div class="slider-thumb"></div>
  </div>

  <svg class="lineWrap" width="100%" height="100%">
    <line #q1ToQ2 xmlns="http://www.w3.org/2000/svg" stroke="rgba(207, 24, 24, 0.69)" stroke-width="2"></line>
    <line #q2ToQ3 xmlns="http://www.w3.org/2000/svg" stroke="rgba(207, 24, 24, 0.69)" stroke-width="2"></line>
  </svg>
</div>
