<div class="features-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Welcome {{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <a mat-icon-button href="https://github.com/a1992012015/angular-demo-app" target="_blank">
      <mat-icon>share</mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened class="content-sidenav">
      <mat-nav-list>
        <mat-list-item class="list-item" *ngFor="let router of routerPaths;index as i;" (click)="goToPathRoute(i)">
          <mat-icon mat-list-icon>{{router.routerIcon}}</mat-icon>
          {{router.routerName}}
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
