<form [formGroup]='rangeForm'>
  <div class='input-container'>
    <app-mat-range-input formControlName='start'
                         [step]='step'
                         [min]='min'
                         [max]='sumSafely(rangeForm.get("end").value, -minGap)'
                         [decimal]='decimal'></app-mat-range-input>
    <div></div>
    <app-mat-range-input formControlName='end'
                         [step]='step'
                         [min]='sumSafely(rangeForm.get("start").value, minGap)'
                         [max]='max'
                         [decimal]='decimal'></app-mat-range-input>
  </div>

  <div class='slider-container'>
    <mat-slider #startSlider
                [value]='rangeForm.get("start").value'
                [displayWith]='formatValue()'
                [step]='step'
                [min]='min'
                [max]='max'
                (change)='onStartChange($event)'></mat-slider>
    <mat-slider #endSlider
                [value]='rangeForm.get("end").value'
                [displayWith]='formatValue()'
                [step]='step'
                [min]='min'
                [max]='max'
                (change)='onEndChange($event)'></mat-slider>
  </div>
</form>
