<div class="chart">
  <google-chart *ngIf="barFormatValue.rawData.length"
                style="width: 100%; min-height: 12.5rem"
                [dynamicResize]="true"
                [type]="barFormatValue.type"
                [data]="barFormatValue.rawData"
                [columnNames]="barFormatValue.columnNames"
                [options]="barFormatValue.options">
  </google-chart>
</div>

<div class="chart">
  <google-chart *ngIf="timeLineFormatValue.rawData.length"
                style="width: 100%; min-height: 12.5rem"
                [dynamicResize]="true"
                [type]="timeLineFormatValue.type"
                [data]="timeLineFormatValue.rawData"
                [columnNames]="timeLineFormatValue.columnNames"
                [options]="timeLineFormatValue.options">
  </google-chart>
</div>
