<div class="toast"
     [ngClass]="className"
     (@fadeAnimation.done)="onFadeFinished($event)"
     [@fadeAnimation]="{ value: animationState, params: animationParams }">
  <mat-icon class="toast-icon" fontSet="iconfont" [fontIcon]="iconType"></mat-icon>

  <div class="toast-text">
    <ng-container *ngIf="data.text; else templateRef"> {{data.text}}</ng-container>

    <ng-template #templateRef>
<!--      <ng-container *ngTemplateOutlet="data.template; context: data.templateContext"></ng-container>-->
    </ng-template>

  </div>

  <mat-icon class="toast-icon mouse-style" fontSet="iconfont" fontIcon="iconclose" (click)="close()"></mat-icon>
</div>
