@use 'variables/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar {
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
  position: relative;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: .8;
}

.content-sidenav {
  width: 200px;
}

.list-item {
  font-size: 12px;
  color: rgba(0, 0, 0, .87);
}
