
.image-step {
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-close {
  position: absolute;
  top: 32px;
  right: 32px;
  color: #ffffff;
}

.test-box {
  width: 400px;
  height: 400px;
  background: red;
}
