@use '~@angular/material' as mat;
@import '../variables/variables';

.breeder {

  .vertical-divider-in-flex {
    height: 100%;
    margin: 0 1rem;
  }

  .select-with-border {
    width: 200px;
    border-bottom: 1px solid $breeder-border-color;

    .mat-select-trigger {
      padding: .5rem;
    }
  }
}

// breeder card section common style

.breeder-header {
  @include mat.elevation-transition;
  @include mat.elevation(2);
  padding: $fb-base-gap-width * 4 $fb-base-gap-width * 6;
  padding-bottom: 0;
  position: relative;
  z-index: 9999;

  .start-year::before {
    content: '·';
    padding: 0 .5rem;
  }

  .header-back {
    position: absolute;
    margin-left: -1rem;
    margin-top: .5rem;

    .header-back {
      padding-right: 0;
    }
  }

  .thumbnail {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -3rem;
  }

  .header-content {
    padding-left: 3rem;
    margin-top: .5rem;
  }

  .header-standard-title {
    display: flex;
    justify-content: space-between;
    min-height: 2.5rem;
    align-items: center;
  }

  .title-name {
    align-items: center;
    font-weight: 500;
    font-size: 1.375rem;
    max-width: 320px;
    word-break: break-word;
    line-height: 1.2;
  }
}

.breeder-slider-card.mat-expansion-panel {
  box-shadow: none;
  margin-top: .25rem;

  .mat-expansion-panel-header {
    margin-bottom: 1px;
    background: #f7f7f7;

    &.mat-expanded:focus,
    &.mat-expanded:hover {
      background: #f7f7f7;
    }
  }

  &.is-highlight-able.active {

    .mat-expansion-panel-header {
      background: $breeder-card-header-active-color;
    }
  }

  .mat-expansion-panel-header-title {
    align-items: center;

    .mat-icon {
      margin-right: .5rem;
    }
  }


  .card-content {
    padding-top: 1rem;
  }

  .card-footer-view-more {
    height: $fb-base-gap-width * 12;
    font-size: .875rem;
    opacity: .87;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #dadce0;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1rem;

    &:hover {
      background: #f7f7f7;
    }
  }

  //
  //.mat-card-title {
  //  font-size: 1rem;
  //  color: #3c4043;
  //}
  //
  //.card-content {
  //  padding: 0 16px;
  //}
  //
  //.card-footer-view-more {
  //  height: $fb-base-gap-width * 12;
  //  font-size: .875rem;
  //  opacity: .87;
  //  font-weight: bold;
  //  text-transform: uppercase;
  //  border-top: 1px solid #dadce0;
  //  padding: 0 32px;
  //  //border-radius: 0 0 1rem 1rem;
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  cursor: pointer;
  //  user-select: none;
  //}
  //
  //
  // Berry Count and Berry Size fruit type style

  .fruit-type-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -.5rem;

    .fruit-type-item {
      flex-basis: 33%;

      .fruit-type {
        margin-top: 1rem;
        font-size: .875rem;
        text-transform: uppercase;
        color: $breeder-card-label-color-grey;
      }

      .type-value {
        margin: .5rem 0;
        font-size: 1.125rem;
      }
    }
  }

  // Breeder Single value card style

  .single-value-wrapper {

    .value {
      font-size: 2.25rem;
      margin-right: .5rem;
    }

    .unit {
      font-size: .875rem;
    }

    .text-desc {
      margin-left: 2rem;
      font-size: .875rem;
    }
  }

  // If the card is click and highlight able.
  // Need to add hover and active status style

  &.is-highlight-able {

    .fruit-type-wrapper {

      .fruit-type-item {
        cursor: pointer;

        &.active,
        &:hover {
          color: $breeder-card-active-color;

          .fruit-type {
            color: $breeder-card-active-color;
          }
        }
      }
    }

    //&.active {
    //
    //  .mat-card-header {
    //    background: $breeder-card-active-color;
    //  }
    //  //margin-left: 0;
    //  //padding-right: calc(16px + 1rem);
    //  //border: 1px solid $breeder-card-active-color;
    //  //border-left: 0;
    //  //border-top-left-radius: 0;
    //  //border-bottom-left-radius: 0;
    //}
  }
}

.breeder-quick-to-menu {
  width: 300px;
}
