.iconfont {
  font-family: 'iconfont', serif !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwarning::before {
  content: '\e69f';
}

.iconprompt::before {
  content: '\e6a0';
}

.iconcheck::before {
  content: '\e60b';
}

.iconnotes::before {
  content: '\e66c';
}

.iconsetting::before {
  content: '\e619';
}

.iconnotification::before {
  content: '\e69b';
}

.iconlayoutgrid::before {
  content: '\e69c';
}

.iconrefresh::before {
  content: '\e69d';
}

.iconbox::before {
  content: '\e69e';
}

.iconcalendar::before {
  content: '\e635';
}

.iconpaper::before {
  content: '\e60a';
}

.icondeleteoutlined::before {
  content: '\e69a';
}

.iconeditoutlined::before {
  content: '\e699';
}

.iconmore::before {
  content: '\e683';
}

.iconsort::before {
  content: '\e684';
}

.iconclose::before {
  content: '\e685';
}

.iconplaylistadd::before {
  content: '\e686';
}

.iconplaylistcheck::before {
  content: '\e687';
}

.iconsend::before {
  content: '\e688';
}

.iconbookmark::before {
  content: '\e689';
}

.iconlaunch::before {
  content: '\e68a';
}

.iconlogout::before {
  content: '\e68b';
}

.iconlocation::before {
  content: '\e68c';
}

.iconexit::before {
  content: '\e68d';
}

.iconreduction::before {
  content: '\e68e';
}

.iconactivity::before {
  content: '\e68f';
}

.iconposition::before {
  content: '\e690';
}

.iconsearch::before {
  content: '\e691';
}

.iconimage::before {
  content: '\e692';
}

.iconshielddone::before {
  content: '\e693';
}

.iconfilterreset::before {
  content: '\e694';
}

.iconphotocamera::before {
  content: '\e695';
}

.iconmenu::before {
  content: '\e696';
}

.iconsettingoutlined::before {
  content: '\e697';
}

.iconadd::before {
  content: '\e698';
}

.icondropright::before {
  content: '\e675';
}

.iconarrowdown::before {
  content: '\e676';
}

.iconfirstpage::before {
  content: '\e677';
}

.iconlastpage::before {
  content: '\e678';
}

.iconarrowright::before {
  content: '\e679';
}

.icondropdown::before {
  content: '\e67a';
}

.icondown::before {
  content: '\e67b';
}

.icondropleft::before {
  content: '\e67c';
}

.iconarrowup::before {
  content: '\e67d';
}

.iconup::before {
  content: '\e67e';
}

.icondropup::before {
  content: '\e67f';
}

.iconright::before {
  content: '\e680';
}

.iconarrowleft::before {
  content: '\e681';
}

.iconleft::before {
  content: '\e682';
}

.iconirrigation::before {
  content: '\e674';
}

.iconempty::before {
  content: '\e621';
}

.iconfilterfield::before {
  content: '\e670';
}

.iconsimilarfields::before {
  content: '\e671';
}

.iconcustomarea::before {
  content: '\e672';
}

.iconcomparefields::before {
  content: '\e673';
}

.icondelete::before {
  content: '\e66f';
}

.iconedit::before {
  content: '\e66e';
}

.iconsoc::before {
  content: '\e66b';
}

.iconcanola::before {
  content: '\e669';
}

.iconpeas::before {
  content: '\e667';
}

.iconsoybeans::before {
  content: '\e668';
}

.iconstrawberry::before {
  content: '\e66a';
}

.iconbenchmark::before {
  content: '\e664';
}

.icondownload::before {
  content: '\e665';
}

.iconshare::before {
  content: '\e666';
}

.iconanomaly::before {
  content: '\e663';
}

.iconcovercrop::before {
  content: '\e662';
}

.iconweeding::before {
  content: '\e661';
}

.icontillage::before {
  content: '\e65f';
}

.iconlivestock::before {
  content: '\e660';
}

.iconownership::before {
  content: '\e65e';
}

.iconcost::before {
  content: '\e65c';
}

.iconevent::before {
  content: '\e65d';
}

.iconchart::before {
  content: '\e639';
}

.icondistance::before {
  content: '\e63a';
}

.iconelevation::before {
  content: '\e65a';
}

.iconflood::before {
  content: '\e65b';
}

.iconaez::before {
  content: '\e659';
}

.iconseasonoutlined::before {
  content: '\e656';
}

.iconfrosting::before {
  content: '\e63b';
}

.icontemperature::before {
  content: '\e658';
}

.iconcroprotation::before {
  content: '\e652';
}

.iconndvi::before {
  content: '\e653';
}

.iconprecipitation::before {
  content: '\e654';
}

.iconratings::before {
  content: '\e655';
}

.iconmonthly::before {
  content: '\e657';
}

.iconstreetview::before {
  content: '\e64f';
}

.iconformatshapes::before {
  content: '\e650';
}

.iconaddbox::before {
  content: '\e651';
}

.iconscore::before {
  content: '\e63f';
}

.iconfertilizer::before {
  content: '\e640';
}

.iconplantvolume::before {
  content: '\e641';
}

.iconleafarea::before {
  content: '\e642';
}

.iconpesticide::before {
  content: '\e643';
}

.icongreenbrown::before {
  content: '\e644';
}

.iconseason::before {
  content: '\e645';
}

.iconsoil::before {
  content: '\e646';
}

.iconharvest::before {
  content: '\e647';
}

.iconyielddrivers::before {
  content: '\e648';
}

.iconfungicide::before {
  content: '\e649';
}

.iconseeding::before {
  content: '\e64a';
}

.iconbreeycount::before {
  content: '\e64d';
}

.iconweather::before {
  content: '\e64e';
}

.iconadversity::before {
  content: '\e63c';
}

.iconambients::before {
  content: '\e63d';
}

.iconbreeysize::before {
  content: '\e63e';
}

.iconcancel::before {
  content: '\e634';
}

.icontune::before {
  content: '\e632';
}

.iconverticalaligntop::before {
  content: '\e62f';
}

.iconformatlistbulleted::before {
  content: '\e630';
}

.icon3dspin::before {
  content: '\e64c';
}

.iconpolyline::before {
  content: '\e606';
}

.iconround::before {
  content: '\e626';
}

.iconarc::before {
  content: '\e66d';
}

.iconrevoke::before {
  content: '\eaf0';
}

.iconerase::before {
  content: '\e609';
}

.iconlocationarrow::before {
  content: '\e64b';
}

.icondraw::before {
  content: '\e610';
}

.iconhorizontal::before {
  content: '\e600';
}
