<div class="container">
  <div class="chart">
    <google-chart class="google-chart" [type]="barConfig.type"
                  [data]="barConfig.rawData"
                  [columns]="barConfig.columnNames"
                  [options]="barConfig.options"></google-chart>
  </div>

  <div class="chart">
    <google-chart class="google-chart" [type]="pieChart.type"
                  [data]="pieChart.rawData"
                  [columns]="pieChart.columnNames"
                  [options]="pieChart.options"></google-chart>
  </div>

  <div class="chart">
    <google-chart class="google-chart" [type]="lineChart.type"
                  [data]="lineChart.rawData"
                  [columns]="lineChart.columnNames"
                  [options]="lineChart.options"></google-chart>
  </div>
</div>
