@use 'variables/variables' as v;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.google-chart {
  width: 600px;
  height: 300px;
}
