@use "libs/data/src/lib/styles/variables/variables" as *;

.animation-container {
  display: flex;
  justify-content: center;
  padding: $app-base-gap-width * 4;
}

.box {
  height: 100px;
  width: 10px;
  background-color: red;
}
