@use '~@angular/material' as mat;

@forward '~@angular/material' show core, define-typography-config, get-color-from-palette, define-palette, define-light-theme, all-component-themes, $red-palette;

$app-base-gap-width: .25rem;
$app-global-font-family: 'Google Sans';

$app-primary-text: rgba(0, 0, 0, .87);
$app-secondary-text: rgba(0, 0, 0, .6);
$app-icon-text: rgba(0, 0, 0, .54);
$app-note-text: rgba(0, 0, 0, .38);

$app-primary-color: (
  50: #e6f6eb,
  100: #c4e7cd,
  200: #9ed8ad,
  300: #75cabd,
  400: #55be74,
  500: #32b35c,
  600: #29a352,
  700: #1e9146,
  800: #14803c,
  900: #006128,
  A100: #c4e7cd,
  A200: #9ed8ad,
  A400: #55be74,
  A700: #32b35c,
  contrast: (
    50: rgba(black, .87),
    100: rgba(black, .87),
    200: rgba(black, .87),
    300: rgba(black, .87),
    400: rgba(black, .87),
    500: rgba(black, .87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, .87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$app-accent-color: (
  50: #fff,
  100: #f8f8f8,
  200: #dedede,
  300: #c3c3c3,
  400: #aaa,
  500: #8b8b8b,
  600: #717171,
  700: #575757,
  800: #3d3d3d,
  900: #303030,
  A100: #f7f7f7,
  A200: #dedede,
  A400: #aaa,
  A700: #575757,
  contrast: (
    50: rgba(black, .87),
    100: rgba(black, .87),
    200: rgba(black, .87),
    300: rgba(black, .87),
    400: rgba(black, .87),
    500: rgba(black, .87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, .87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$app-background-color: (
  bg-primary: #dff4f5,
  bg-light: mat.get-color-from-palette($app-primary-color, 50),
  bg-light-grey: #f5f5f5,
  bg-grey-100: mat.get-color-from-palette($app-accent-color, 100),
  bg-grey-200: mat.get-color-from-palette($app-accent-color, 200),
  bg-grey-300: mat.get-color-from-palette($app-accent-color, 300),
  bg-grey-400: mat.get-color-from-palette($app-accent-color, 400),
  bg-grey-500: mat.get-color-from-palette($app-accent-color, 500),
);

$app-chart-color: (
  c-red: #ea4335,
  c-green: #34a853,
  c-yellow: #ffb800,
  c-light-green: #2ed47a,
  c-purple-red: #ad1457,
  c-blue: #4688f1,
);

$app-interactive-color: (
  primary: mat.get-color-from-palette($app-primary-color, 700),
  primary-hover: mat.get-color-from-palette($app-primary-color, 800),
  primary-pressed: mat.get-color-from-palette($app-primary-color, 900),
  white: mat.get-color-from-palette($app-accent-color, 50),
  link: #1a73e8,
);

$app-icon-color: (
  b1: #659cf8,
  b2: #11b8f6,
  b3: #4db8c8,
  b4: #009ca6,
  g1: #27b374,
  g2: #67b860,
  g3: #55cb99,
  g4: #97d17d,
  y1: #ffd12d,
  y2: #ffaa43,
  y3: #b0745f,
  y4: #f48759,
  r1: #f3738a,
  r2: #f591b3,
  r3: #f5635b,
  r4: #dc5959,
  p1: #fa65b2,
  p2: #bb80ea,
  p3: #887ef9,
  p4: #9272b4,
);

$app-border-radius-map: (
  4: .25rem,
  8: .5rem,
  12: .75rem,
  16: 1rem,
  20: 1.25rem
);

@mixin app-h4() {
  font-size: 34px;
  line-height: 43px;
}

@mixin app-h5() {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

@mixin app-h6() {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

@mixin app-title1() {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@mixin app-title2() {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@mixin app-subtitle1() {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin app-subtitle2() {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@mixin app-body1() {
  font-size: 16px;
  line-height: 20px;
}

@mixin app-body2() {
  font-size: 14px;
  line-height: 18px;
}

@mixin app-body3() {
  font-size: 13px;
  line-height: 17px;
}

@mixin app-body4() {
  font-size: 20px;
  line-height: 36px;
}

@mixin app-button() {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@mixin app-note() {
  font-size: 12px;
  line-height: 15px;
}

@mixin app-overline() {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@mixin app-small1() {
  font-size: 10px;
  line-height: 13px;
}

@mixin app-small2() {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
}

@mixin app-mat-elevation($zValue, $color: #000) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 12 or $zValue > 24 {
    @error '$zValue must be between 12 and 24';
  }
  box-shadow: #{map-get(app-get-umbra-map($color), $zValue)};
}

@function app-get-umbra-map($color) {
  @return (
    12: '3px 0px 12px 0px #{if(type-of($color) == color, rgba($color, .06), $color)}',
    16: '2px 2px 12px 0px #{if(type-of($color) == color, rgba($color, .08), $color)}',
    18: '0px 3px 31px 0px #{if(type-of($color) == color, rgba($color, .06), $color)}',
    20: '0px -3px 31px 0px #{if(type-of($color) == color, rgba($color, .06), $color)}',
    22: '3px 4px 31px 0px #{if(type-of($color) == color, rgba($color, .08), $color)}',
    24: '3px 4px 31px 0px #{if(type-of($color) == color, rgba($color, .15), $color)}',
  );
}

@mixin app-border-radius($value) {
  @if type-of($value) != number or not unitless($value) {
    @error '$value must be a unitless number';
  }
  @if $value < 4 or $value > 20 {
    @error '$value must be between 4 and 20';
  }
  border-radius: #{map-get($app-border-radius-map, $value)};
}

.mouse-style {
  cursor: pointer;
}
