<div class="print-container">
  <div class="print-box">
    <div class="span-box">
      <div></div>
    </div>

    <div class="image-box">
      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>

      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="print-box">
    <div class="span-box">
      <div></div>
    </div>

    <div class="image-box">
      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>

      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="print-box">
    <div class="span-box">
      <div></div>
    </div>

    <div class="image-box">
      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>

      <div class="image-item">
        <div class="image-span">
          <div></div>
        </div>
        <img [src]="image" alt="image">
        <div class="image-span">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
