<h3 i18n="css-selector-last">单数选最后一个，双数选最后两个</h3>
<div class="selector">
  <p class="selector-1">css-selector 1</p>
  <p class="selector-1">css-selector 2</p>
  <p class="selector-1">css-selector 3</p>
  <p class="selector-1">css-selector 4</p>
  <p class="selector-1">css-selector 5</p>
  <p class="selector-1">css-selector 6</p>
  <p class="selector-1">css-selector 7</p>
  <p class="selector-1">css-selector 8</p>
</div>

<h3 i18n="css-selector-three">每三个选择一个</h3>
<div class="selector">
  <p class="selector-2">css-selector 1</p>
  <p class="selector-2">css-selector 2</p>
  <p class="selector-2">css-selector 3</p>
  <p class="selector-2">css-selector 4</p>
  <p class="selector-2">css-selector 5</p>
  <p class="selector-2">css-selector 6</p>
  <p class="selector-2">css-selector 7</p>
  <p class="selector-2">css-selector 8</p>
  <p class="selector-2">css-selector 9</p>
  <p class="selector-2">css-selector 10</p>
</div>

<h3>选择最后一排的全部</h3>
<div class="selector">
  <p class="selector-3">css-selector 1</p>
  <p class="selector-3">css-selector 2</p>
  <p class="selector-3">css-selector 3</p>
  <p class="selector-3">css-selector 4</p>
  <p class="selector-3">css-selector 5</p>
  <p class="selector-3">css-selector 6</p>
  <p class="selector-3">css-selector 7</p>
  <p class="selector-3">css-selector 8</p>
  <p class="selector-3">css-selector 9</p>
  <p class="selector-3">css-selector 10</p>
  <p class="selector-3">css-selector 10</p>
  <p class="selector-3">css-selector 10</p>
</div>
