.container {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ellipsis {
  position: relative;
  background: rgb(230, 230, 230);
  line-height: 18px;
  overflow: hidden;
}

.ellipsis-container {
  position: relative;
  font-size: 50px;
  color: transparent;
}

.ellipsis-content {
  color: #000;
  font-size: 12px;
}

.ellipsis-ghost {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  color: #000;
}

.ellipsis-ghost:before {
  content: "";
  display: block;
  float: right;
  width: 50%;
  height: 100%;
}

.ellipsis-placeholder {
  content: "";
  display: block;
  float: right;
  width: 50%;
}

.ellipsis-more {
  position: relative;
  float: right;
  font-size: 12px;
  width: 50px;
  height: 18px;
  margin-top: -18px;
  background: #eeeeee;
}

.ellipsis-less {
  height: 18px;
  font-size: 12px;
  background: #eeeeee;
}
