<div class='dynamic-container'>
  <div #scrollBtn class='dynamic-jump' [ngStyle]="{'border-width': headerHeight + 'px'}">
    <button class="btn-style"
            mat-icon-button
            *ngFor="let jump of jumpList;index as i;"
            [matTooltip]="jump.name"
            [ngClass]="{'btn-active': jump.active}"
            (click)="jumpPosition(jump, i)">
      <mat-icon fontSet="iconfont" [ngStyle]="{color: jump.color}" [fontIcon]="jump.icon"></mat-icon>
    </button>
  </div>

  <div #scrollTo class='dynamic-content'>
    <div #content>
      <ng-content></ng-content>
    </div>

    <div [style.width]="dataCount ? dataCount * 28 + 'rem' : '100%'">
      <app-dynamic-card *ngFor="let data of metadata;index as i"
                        [index]="i"
                        [profile]="profile"
                        [metadata]="data"
                        [selected]="selectIndex"></app-dynamic-card>
    </div>
  </div>
</div>
