@use 'variables/variables' as *;

.container {
  height: 3000px;
}

.demo-select {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 500px;
  margin: 0 auto;
}

.filter-select-form {
  width: 100%;
}

.template-bg {
  background: transparent;
}
