.demo-select {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.filter-select-form {
  width: 300px;
}

.select-form {
  width: 100%;
}

/** No CSS for this example */
.hide {
  display: none !important;
}
