<div class='container'>
  <div class='demo-select'>
    <mat-form-field appearance='outline' class='filter-select-form'>
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]='filterControl' multiple>
        <mat-option *ngFor='let option of variables' [value]='option.value'>
          {{option.view}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class='demo-select'>
    <button mat-stroked-button cdkOverlayOrigin (click)='togglePanel()' #trigger='cdkOverlayOrigin'>
      {{isOpen ? "Close" : "Open"}}
    </button>
  </div>

  <!-- This template displays the overlay content and is connected to the button -->
  <ng-template cdkConnectedOverlay
               (backdropClick)='togglePanel()'
               [cdkConnectedOverlayBackdropClass]='"template-bg"'
               [cdkConnectedOverlayHasBackdrop]='true'
               [cdkConnectedOverlayOrigin]='trigger'
               [cdkConnectedOverlayOpen]='isOpen'>
    <app-mat-select-container [filteredOptions]='filteredOptions'
                              (toggleOption)='changeValue($event)'></app-mat-select-container>
  </ng-template>
</div>
