@use 'variables/variables' as *;

$breeder-card-active-color: #009ca6;
$breeder-card-header-active-color: #e5f5f6;
$breeder-card-label-color-grey: #8a8c8e;
$breeder-border-color: #dcdcdc;

p {
  margin: 0;
}

.mouse-style {
  cursor: pointer;
}

@mixin mat-icon-center {
  font-size: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  color: $app-icon-text;
}

@mixin title-18-regular() {
  font-size: 1.125rem;
  line-height: 1.44rem;
}

@mixin body-12-regular() {
  font-size: .75rem;
  line-height: .95rem;
}

