.outer-container1 {
  width: 360px;
  height: 200px;
  position: relative;
  overflow: hidden;

  .inner-container {
    position: absolute;
    left: 0;
    top: 0;
    right: -17px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.outer-container2 {
  width: 200px;
  height: 200px;
  border: 5px solid purple;
  position: relative;
  overflow: hidden;

  .inner-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .inner-container::-webkit-scrollbar {
    display: none;
  }
}
