<p class="seed-top">
  <mat-chip-list>
    <mat-chip color="accent" selected>究极日月TSV：{{tsv}}</mat-chip>
    <mat-chip color="primary" selected>父：{{parents.father}}</mat-chip>
    <mat-chip color="primary" selected>母：{{parents.mother}}</mat-chip>
    <mat-chip color="warn" selected>完成度：{{completion | percent:'1.2-2' }}</mat-chip>
  </mat-chip-list>
</p>

<div class="example-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>次数</th>
      <td mat-cell *matCellDef="let element">{{element['count']}}</td>
    </ng-container>

    <ng-container matColumnDef="genetic">
      <th mat-header-cell *matHeaderCellDef>遗传方</th>
      <td mat-cell *matCellDef="let element">{{element['genetic']}}</td>
    </ng-container>

    <ng-container matColumnDef="character">
      <th mat-header-cell *matHeaderCellDef>遗传性格</th>
      <td mat-cell *matCellDef="let element">{{element['character']}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>取值</th>
      <td mat-cell *matCellDef="let element">{{element['value']}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<p class="seed" *ngFor="let seed of randomNumber;index as i">{{'第' + (i + 1) + '条'}}：{{seed.join('')}}</p>
