@import 'variables/variables';

.massage {
  font-size: $fb-base-gap-width * 3.5;
  line-height: $fb-base-gap-width * 4.5;
  color: $dark-disabled-text;
  padding-bottom: $fb-base-gap-width * 6;
  margin: 0;

  &:last-child {
    padding-bottom: 0;
  }
}
