@import 'variables/variables';

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $fb-base-gap-width * 4.5;
  min-height: $fb-base-gap-width * 5;

  p {
    margin: 0;
    font-size: $fb-base-gap-width * 4;
    line-height: $fb-base-gap-width * 5;
  }
}

.title-info {
  display: flex;
  align-items: center;

  .info-icon {
    margin-right: $fb-base-gap-width * 2;
    width: $fb-base-gap-width * 6;
    height: $fb-base-gap-width * 6;
  }

  .info-title {
    font-weight: 500;
    color: $dark-primary-text;
  }

  .info-subtitle {
    color: $font-color-unfocused;
    margin-left: $fb-base-gap-width * 2;
    padding-left: $fb-base-gap-width * 2;
    border-left: 1px solid mat-color($primary-color, 200);
  }
}

.title-tooltip {
  width: $fb-base-gap-width * 5;
  height: $fb-base-gap-width * 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: mat-color($primary-color, 500);
  font-size: $fb-base-gap-width * 4;
}
