@use '~@angular/material' as mat;
@import 'variables/variables';

.toast {
  width: $fb-base-gap-width * 79;
  display: flex;
  border-radius: 12px;
}

.toast-icon {
  margin: $fb-base-gap-width * 4;
}

.toast-text {
  @include Subtitle2();
  align-self: center;
  flex: 1;
  margin: $fb-base-gap-width * 4 0;
}

.SUCCESS {
  background: rgba(240, 254, 246, .9);

  .toast-icon,
  .toast-text {
    color: mat.get-color-from-palette($fb-chart-color, c-green);
  }
}

.INFO {
  background: rgba(231, 240, 255, .9);

  .toast-icon,
  .toast-text {
    color: mat.get-color-from-palette($fb-chart-color, c-blue);
  }
}

.WARNING {
  background: rgba(251, 243, 225, .9);

  .toast-icon,
  .toast-text {
    color: #ddac00;
  }
}

.ERROR {
  background: rgba(250, 232, 231, .9);

  .toast-icon,
  .toast-text {
    color: mat.get-color-from-palette($fb-chart-color, c-red);
  }
}
