@use "libs/data/src/lib/styles/variables/variables" as *;
@use '@angular/material' as mat;

.todo-api-container {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: $app-base-gap-width * 4;
}

.app-title {
  font-size: $app-base-gap-width * 8;
}
