@use 'libs/data/src/lib/styles/variables/variables' as *;
@use '@angular/material' as mat;

.todo-api-container {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: $app-base-gap-width * 4;
}

.proxies-controller {

  .proxies-btn {
    margin-left: $app-base-gap-width * 4;

    &:first-child {
      margin-left: 0;
    }
  }
}
