<div class="number-display" [class.active]="selectedIndex === index" *ngIf="value">
  <div class="number-name">
    {{value.displayName}}
    <mat-icon *ngIf="value.displayValue.tooltip" [matTooltip]="value.displayValue.tooltip">info</mat-icon>
  </div>
  <p class="number-value" [ngStyle]="{color: value.displayValue.color}">
    <mat-icon *ngIf='value.displayValue.icon'>{{value.displayValue.icon}}</mat-icon>
    {{value.displayValue.value?.toString() | number: '1.' + value.displayValue.decimal + '-' + value.displayValue.decimal}} {{value.displayValue.unit}}
  </p>
</div>
