@import 'variables/variables';

.number-display {
  width: 100%;
  display: flex;
  align-items: stretch;

  p {
    margin: 0;
    font-size: $fb-base-gap-width * 3.5;
    line-height: $fb-base-gap-width * 5;
  }

  .number-name {
    width: 60%;
    font-weight: 500;
    text-transform: uppercase;
    color: mat-color($primary-color, 500);
    display: flex;
    align-items: flex-start;
    font-size: $fb-base-gap-width * 3.5;
    line-height: $fb-base-gap-width * 5;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-right: $fb-base-gap-width * 4;

    mat-icon {
      width: $fb-base-gap-width * 5;
      height: $fb-base-gap-width * 5;
      font-size: $fb-base-gap-width * 3.5;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .number-value {
    width: 40%;
    color: $dark-primary-text;
    display: flex;
    align-items: center;
  }
}

.active .number-name,
.active .number-value {
  color: #009d62;
}
