<div class="demo-select">
  <mat-form-field appearance="outline" class="filter-select-form">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="filterControl" multiple>
      <mat-option *ngFor="let option of variables" [value]="option.value">
        {{option.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="demo-select">
  <mat-form-field class="filter-select-form">
    <mat-select placeholder="Basic" multiple>
      <app-mat-select-filter [array]="variables"
                             [displayMember]="'view'"
                             (filteredReturn)="filteredList=$event"></app-mat-select-filter>

      <mat-option *ngFor="let option of filteredList" [value]="option.value" [ngClass]="{'hide': !option.show}">
        {{option.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
