@import 'variables/variables';

.mat-filter {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  z-index: 100;
  font-size: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: $fb-base-gap-width * 4;
  box-sizing: border-box;
  background: mat-color($primary-color, 50);
}

.mat-filter-box {
  display: flex;
  position: relative;
}

.mat-filter-input {
  appearance: none;
  outline: none;
  border: 0;
  background-color: unset;
  color: gray;
  width: 100%;
}

.spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.noResultsMessage {
  margin-top: $fb-base-gap-width * 2.5;
  font-size: $fb-base-gap-width * 4;
}
