$fb-base-gap-width: .25rem;
$font-color-focused: rgba(0, 0, 0, .87);
$font-color-unfocused: rgba(0, 0, 0, .60);

.container {
  width: $fb-base-gap-width * 130;
  padding: $fb-base-gap-width * 6 $fb-base-gap-width * 6 $fb-base-gap-width * 5;
  border-bottom: 1px solid #dedede;
  transition: height 0.5s;
}

.dialog-title {
  margin: 0;
  font-weight: 500;
  font-size: $fb-base-gap-width * 5;
  line-height: $fb-base-gap-width * 6.25;
  color: $font-color-focused;
}

.share-form {
  margin-top: $fb-base-gap-width * 2.5;
  display: flex;

  .form-email {
    width: 100%;
    margin-bottom: -1.25em;
  }

  .form-action {
    width: $fb-base-gap-width * 26;
    height: $fb-base-gap-width * 13.25;
    margin-left: $fb-base-gap-width * 4;
    background: #f6f6f6;
  }
}

.content {
  margin-top: $fb-base-gap-width * 4;
  height: $fb-base-gap-width * 40;

  .no-people {
    margin: 0;
    font-size: $fb-base-gap-width * 4;
    line-height: $fb-base-gap-width * 10;
    height: $fb-base-gap-width * 10;
    text-align: center;
    color: $font-color-unfocused;
  }

  .people-item {
    height: $fb-base-gap-width * 10;
  }
}

.action {
  height: $fb-base-gap-width * 19;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: $fb-base-gap-width * 30;
    margin: $fb-base-gap-width * 3;
  }
}
