<div class='select-container'>
  <app-mat-select-filter [array]='filteredOptions'
                         [displayMember]="'view'"
                         [searchForm]='searchForm'
                         (filteredReturn)='filteredList=$event'></app-mat-select-filter>
  <ul class='select-option selected'>
    <li *ngFor='let option of filteredList;'
        [class.hide]='!option.selected'
        (click)='toggleOptionEvent(option)'>
      <ng-template [ngTemplateOutlet]='optionsList'
                   [ngTemplateOutletContext]='{ view: option.view, icon: option.icon }'></ng-template>
      <mat-icon>check</mat-icon>
    </li>
  </ul>
  <ul class='select-option'>
    <li *ngFor='let option of filteredList;'
        [class.hide]='!option.show || option.selected'
        (click)='toggleOptionEvent(option)'>
      <ng-template [ngTemplateOutlet]='optionsList'
                   [ngTemplateOutletContext]='{ view: option.view, icon: option.icon }'></ng-template>
    </li>
  </ul>
</div>

<ng-template #optionsList let-view='view' let-icon='icon'>
  <img class='select-icon-thumb' [src]='icon' *ngIf='icon' alt='img' />
  <span>{{view}}</span>
</ng-template>
